# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Virtual environment
venv/
env/
.venv/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints

# Logs and cache
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.cache
